@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Roboto mono";
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  gap: 1em;
  margin: 0.5em 0;
}
form div:not(.selector):not(.optionsGroup) {
  width: 90%;
  border: solid #d4d4d4;
  border-radius: 0.7em;
  padding: 0.5em;
}
form div:not(.selector):not(.optionsGroup) input:not([type=radio]):not([type=checkbox]), form div:not(.selector):not(.optionsGroup) select {
  width: 100%;
}
form div:not(.selector):not(.optionsGroup).choices, form div:not(.selector):not(.optionsGroup).selectorWrapper {
  display: grid;
  grid-template-columns: 100%;
}
form h4 {
  color: #696969;
}
form button {
  width: 90%;
}
form button#clearForm {
  width: 100%;
}
form span.dropdownValue {
  border: solid #d4d4d4;
  padding: 0.2em;
  width: 100%;
}
form div.selector, form div.optionsGroup {
  display: flex;
  flex-direction: column;
}
form div.selector button, form div.optionsGroup button {
  width: 100%;
}
