@import "estilosFlex";

:root {
    --corBorda: #2f9e41;
    --corBordaAlternativa: #d4d4d4;
    --corFundo: #ffffff;
    --corFonte: #000000;
    --corLink: #2fcaca;
    --corTituloDeGrupo: #696969;
    --corFonteAlternativa: #413f3f;
}

@media (prefers-color-scheme: dark) {
    :root {
        --corFundo: #070707;
        --corFonte: #ffffff;
    }
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: var(--corFonte);
}

body {
    background-color: var(--corFundo);
}

header {
    width: 100%;
    display: grid;
    grid-template-rows: 100%;
    grid-template-columns: 30% 55% 15%;
    align-items: center;
    border-bottom: solid var(--corBorda);
    padding: .7em;

    &>a img {
        height: 5em;
        aspect-ratio: 4 / 3;
        grid-column: 1;
    }

    h1 {
        grid-column: 2;
    }

    div {
        align-self: flex-end;
        justify-self: flex-end;
        
        button {
            aspect-ratio: 1 / 1;
            max-width: 2.5em;
            background-color: var(--corFundo);

            img {    
                width: 100%;
            }
        }
    }
}

form {
    @include flexColumn(center, initial);
    width: 100%;
    gap: 1em;
    margin: .5em 0;

    div:not(.seletor):not(.grupoDeOpcoes) {
        width: 90%;
        border: solid var(--corBorda);
        border-radius: .7em;
        padding: 0.5em;
    }

    input, button, select {color: var(--corFonteAlternativa);}

    input:not([type=radio]):not([type=checkbox]) {width: 100%;}

    div.escolhas, div.seletorWrapper, div.opcoes {
        display: grid;
        grid-template-columns: 100%;
    }

    h4 { color: var(--corTituloDeGrupo) }

    button {
        width: 90%;
    }

    button#limparForm {
        width: 100%;
    }

    span.valorMenu {
        border: solid var(--corBordaAlternativa);
        padding: .2em;
        width: 100%;
    }

    div.seletor, div.grupoDeOpcoes {
        @include flexColumn(unset, unset);
        button {width: 100%;}
    }

    select {
        width: 100%;
    }
}