:root {
    --corBorda: #1100fa;
    --corBordaAlternativa: #d4d4d4;
    --corFundo: #ffffff;
    --corFundoAlternativa: #1100fa;
    --corFonte: #000000;
    --corLink: #2fcaca;
    --corTituloDeGrupo: #696969;
    --corFonteAlternativa: #ffffff;
    --corHover: #fad300;
    --tamanhoFonteHeader: 1em;
}

@media (prefers-color-scheme: dark) {
    :root {
        --corFundo: #000000;
        --corFonte: #ffffff;
    }
}
