<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="javascript/trocarTema.js" defer></script>
    <title>Página não encontrada</title>
    <link rel="stylesheet" href="css/estiloErro.css">
    <link rel="shortcut icon" href="logos/favicon.ico" type="image/x-icon">
</head>
<body>
    <header>
        <img src="featherIcons/alert-circle.svg" alt="símbolo de errro">
        <h1>Erro 404 - Página não encontrada</h1>
    </header>
    <p>
        A página requisitada não foi encontrada, verifique se há algum erro de digitação na URL ou volte a página principal
    </p>
    <button><a href="/index">HOME</a></button>
</body>
</html>