* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: var(--corFonte);
  background-color: var(--corFundo);
}

:root {
  --corBorda: #2f9e41;
  --corBordaAlternativa: #d4d4d4;
  --corFundo: #ffffff;
  --corFundoAlternativa: #2f9e41;
  --corFonte: #000000;
  --corLink: #2fcaca;
  --corTituloDeGrupo: #696969;
  --corFonteAlternativa: #413f3f;
  --corHover: #cd191e;
  --tamanhoFonteHeader: 1em;
}

@media (prefers-color-scheme: dark) {
  :root {
    --corFundo: #070707;
    --corFonte: #ffffff;
  }
}
body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-direction: row;
  width: 100%;
}
header, header img, header h1 {
  background-color: var(--corFundoAlternativa);
  color: #ffffff;
}

p {
  padding: 0.7em;
}

button {
  padding: 0.7em;
}
button * {
  text-decoration: none;
}
button:hover, button:hover * {
  background-color: var(--corFundoAlternativa);
}
