<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="theme-color" content="dark light">
    <script src="../javascript/carregarPaleta.js" defer></script>
    <script src="../javascript/trocarTema.js" defer></script>
    <title>Prevenção à Evasão Escolar</title>
    <link rel="stylesheet" href="../css/estiloHome.css">
    <link rel="stylesheet" href="../css/estiloHeaders.css">
    <link rel="shortcut icon" type="image/x-icon" th:href="${favicon}">
    <link rel="mask-icon" color="#000000" th:href="${maskicon}">
</head>

<body>
    <paleta-comum style="display: none" th:attr="data-variaveis=${paletaComum}"></paleta-comum>
    <paleta-tema-escuro style="display: none" th:attr="data-variaveis=${paletaTemaEscuro}"></paleta-tema-escuro>
    <header>
        <div id="titulo">
            <h1>Prevenção à Evasão Escolar</h1>
        </div>
        <nav>
            <div class="itemMenu">
                <button id="botaoMenuForms" title="mostrar todos os formulários">
                    <img src="../featherIcons/menu.svg" alt="símbolo do botão para ver os formulários">
                    FORMULÁRIOS
                </button>
            </div>
            <div class="itemMenu">
                <a href="index.html" title="página principal">
                    <img src="../featherIcons/home.svg" alt="símbolo do botão para voltar a página principal">
                    HOME
                </a>
            </div>
            <div class="itemMenu">
                <a href="contato.html" title="página de contato">
                    <img src="../featherIcons/phone.svg" alt="símbolo do botão para ir à página de contato">
                    CONTATO
                </a>
            </div>
            <div class="itemMenu">
                <button title="trocar tema" class="trocarTema">
                    <img src="../featherIcons/sun.svg" alt="símbolo do botão para trocar o tema do site">
                    TEMA
                </button>
            </div>
        </nav>
    </header>
    <main>
        <div id="forms">
            <a href="formEstudantes.html" title="formulário para os estudantes">
                ESTUDANTES
            </a>
            <a href="formEscola.html" title="formulário para o corpo docente">
                CORPO DOCENTE
            </a>
            <a href="formInfoEstudante.html" title="solicitar informações de um estudante">
                SOLICITAR INFORMAÇÔES
            </a>
        </div>
        <p>Projeto que tem como objetivo reduzir as taxas de evasão escolar utilizando Java e <i>Fuzzy Logic</i>(lógica nebulosa) para identificar os estudantes mais propensos a evadirem a vida escolar. A entrada de informações  referentes a um estudante pode ser feita por uma instituição de ensino, pela família ou pelo estudante. Demais pessoas — além das mencionadas — não devem fazer o envio, pois são necessárias informações pessoais como nome completo, número de matrícula e renda familiar. 
        </p>
    </main>
    <footer>
        <p>Projeto que visa previnir a evasão escolar.</p>
    </footer>
</body>

</html>